

body{font-family:'Poppins', sans-serif;color:#313131;}
input:focus{outline:none}
a,input[type="submit"]{transition:0.8s}
a:hover{text-decoration:none;}
.btn.focus, .btn:focus{box-shadow:0 0 0;}
img {
    max-width: 100%;
    height: auto;
}
.header a{color:#222;}
.header ul,.footer ul,.breadcrumbs ul{list-style:none;margin:auto;padding:0}
.header li,.footer li,.breadcrumbs li{float:left}
.header ul,.breadcrumbs ul{float:right;}
.header-top{padding:10px 0 15px}
.header-top li {
    margin-right: 25px;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}
.header-top li:last-child {
    border: 0;
    margin: auto;
    padding:0;
    text-align: center;
}
.header-top li:last-child a{text-decoration:underline;}
.head-icon{float:left}
.head-icon i{background:url(../img/head-icons.png) no-repeat 0 0 transparent;width:50px;height:50px;float:left;margin-right:15px;}
.head-icon i.help-icon {
    background-position: -63px 0;
    width: 52px;
}
.head-icon .wrap{float:left;max-width:220px;}
.head-icon .help-icon + .wrap{max-width:165px;}
.header-top label {
    color: #999;
    font-size: 14px;
    width: 100%;
    margin: auto;
}
.hamburger-menu {
    background: #3e72b1;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    padding: 18px;
    font-weight: bold;
}
.search-form input,.search-form input:focus,.search-form .btn,.search-form .btn:focus,.dropdown button,.dropdown button:focus{border:0;outline:0;box-shadow:none;}
.dropdown button:hover{color:#fff;}
.header_bottom ul::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border: none;
    z-index: 2;
    background: rgba(0,0,0,.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -moz-transition: opacity .8s ease,visibility .9s ease,-moz-transform .4s eas;
    -o-transition: opacity .8s ease,visibility .9s ease,-o-transform .4s eas;
    -webkit-transition: opacity .8s ease,visibility .9s ease,-webkit-transform .4s eas;
    transition: opacity .8s ease,visibility .9s ease,transform .4s ease;
}
.header_bottom .toogle-menu.dropdown-menu{border:1px solid #eee;border-radius:0 0 3px 3px;border-top:0}
.category-dropdown li{float:left;width:100%;border-bottom:1px solid #eee;position:relative;}
.category-dropdown li a{padding:0.65rem;width:100%;display:block;}
.category-dropdown li a:hover{background:transparent;color:#3e72b1;}
.category-dropdown li a.dropdown-item::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    position: absolute;
    right: 10px;
    color: #888;
}
.category-dropdown li a.dropdown-item.active::after{content:"\f078"}
.category-dropdown .dropdown-menu .dropdown-menu {
    position: relative;
    width: 100%;
    border: 0;
    padding:0;
}
.category-dropdown .dropdown-menu .dropdown-menu ul,.category-dropdown .dropdown-menu .dropdown-menu ul a{width:100%;float:left;}
.dropdown-item.active{background:transparent;color:#3e72b1;}
.category-dropdown li li{border-bottom:0}
.category-dropdown .dropdown-menu .dropdown-menu ul a{padding-left:20px;}









.shopping__cart {
    background: #eeeeee none repeat scroll 0 0;
    box-shadow: 0 0 85px rgba(0, 0, 0, 0.2);
    display: block;
    height: 100vh;
    opacity: 0;
    overflow-y: scroll;
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.25s ease 0s;
    width: 100%;
    z-index: 99999;
    width: 475px;
}
.shopping__cart.shopping__cart__on {
    opacity: 1;
    padding-bottom: 50px;
    right: calc(0px - 16px);
}
.shopping__cart__inner {
    padding: 102px 50px;
    height: 100%;
}
.shopping__cart__inner .offsetmenu__close__btn {
    padding: 21px 50px 24px;
}
.offsetmenu__close__btn {
    background-color: #eee;
    padding: 29px 50px 24px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
.offsetmenu__close__btn i{color:#666;font-size:36px;transition:all 0.3s ease 0s}

.body__overlay {
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: url("../img/close.png") 25 25, pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s, transform 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 99999;
}
.body__overlay.is-visible {
    opacity: 1;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0s, transform 0.3s ease 0s;
    visibility: visible;
}
.shp__cart__wrap {
    margin-top: -30px;
}
.shp__single__product {
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;
    padding-top: 21px;
}
.shp__cart__wrap .shp__single__product {
    border-bottom: 1px solid #ddd;
}
.shp__pro__thumb {
    margin-right: 20px;
}
.shp__pro__thumb a {
    display: block;
}
.shp__pro__thumb a img {
    max-width: 60px;
}
.shp__pro__details {
    min-width: 71%;
}
.shp__pro__details h2{font-size:16px}
.shp__pro__details h2 a{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
    text-transform: none;
}
.shp__pro__details span{font-size:14px}
.remove__btn {
    text-align: right;
    width: 20px;
}
.remove__btn a i {
    color: #ccc;
    font-size: 22px;
}
.shopping__cart__inner ul{list-style:none;padding:0;margin:auto}
.shopping__btn li a {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    font-weight:500;
    height: 57px;
    line-height: 57px;
    margin-bottom: 15px;
    padding: 0 25px;
    text-align: center;
    text-transform: none;
    transition: all 0.5s ease 0s;
    width: 100%;
    display: block;
}
.shopping__btn .shp__checkout a {
    background-color:#3e72b1;
    border-color:#3e72b1;
    color: #fff;
}




.toogle-menu.dropdown-menu{border:0;border-radius: 0;padding:10px;width:240px;}
.search-form .input-group{border:2px solid #e1e1e1;border-radius:20px;margin-top:5px;}
.search-form .search-panel{border-right:2px solid #e1e1e1}
.search-form .dropdown-toggle::after {
    position: relative;
    top: 3px;
}
.search-form .dropdown-menu {
    width: 200px;
    border: 0;
    padding: 10px 0;
    top:4px !important;
}
.search-form li {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    font-size: 15px;
}
.search-form li a {
    width: 100%;
    float: left;
    padding: 6px 10px;
}
.search-form li a:hover{background:#72a9d5}
.breadcrumbs {
    margin: 0 0 25px;
    padding: 10px 0;
    border-top: 1px solid #e9e9e9;
}
.breadcrumbs li {
    font-size: 14px;
    color: #a3a3a3;
    margin: 0;
    padding: 0;
    list-style: none none;
}
.breadcrumbs li:not(:last-child)::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 18px;
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    margin: 0 10px;
    vertical-align: middle;
    display: inline-block;
    font-weight: 900;
    text-align: center;
}
.banner_bg {
    position: absolute;
    width:100%;
}
.banner_txt {
    position: relative;
    max-width: 600px;
    margin: auto;
    left: 3%;
    padding:4% 0 5%;
}
.banner_txt p{margin-bottom:8px;}
.banner_txt strong{font-size:12px;font-weight:500;color:#313131;}
#home_slider .owl-dots{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 15px;
    text-align: center;
}
#home_slider .owl-dot{display:inline-block;}
#home_slider .owl-dot span{
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #ccc;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
#home_slider .owl-dot.active span, #home_slider .owl-dot:hover span {
    background:#3e72b1;
    width: 35px;
    opacity: 1
}
#home_slider .btn{background:#3e72b1;padding:6px 20px;color:#fff;border-radius:6px;margin-top:1em;}
.ser-sec ul {
    margin: auto;
    padding:40px 0 0;
    list-style: none;
    font-size: 14px;
    display:inline-block;
    line-height:1.6
}
.ser-sec li {
    float: left;
    width: 25%;
    padding: 0 15px 0 60px;
    position: relative;
    color: #aaafca;
}
.ser-sec h3 {
    font-size: 16px;
    margin: auto auto 5px;
    color: #333;
}
.ser-sec li::before {

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d1";
    font-size: 25px;
    position: absolute;
    left: 0;
}
.slide-products {
    padding:60px 0;
}
.slider-title{position:relative;}
.slider-title::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
}
.ser-sec li.free-ship::before {
        content: "\f0d1";
    }
.ser-sec li.supp::before {
        content: "\f1cd";
    }
    .ser-sec li.retn::before {
        content: "\f01e";
    }
    .ser-sec li.paysh::before {
        content: "\f023";
    }
.slider-title h4 {
    font-weight: normal;
    font-size: 1.2rem;
    padding: 0 20px 0px 0;
    background: #fff;
    display: inline-block;
    line-height: 1.7;
    position: relative;
    margin-bottom: 20px;
}
.lgt-bg .slider-title h4,.lgt-bg.slide-products .owl-prev, .lgt-bg.slide-products .owl-next {background:#f7f9fb !important}

.slide-products .owl-prev, .slide-products .owl-next {
    position: absolute;
    top: -34px;
    transform: translateY(-50%);
    background: #fff !important;
    width: 45px;
    height: 45px;
    outline:none
}
.slide-products .owl-prev {
  right: 45px   ;
}
.slide-products .owl-next {
  right: 0;
}
.slide-products .owl-nav i {
    font-size: 20px;
    color: #aaa;
    line-height: 2;
    background: #ededed;
    width: 40px;
    height: 40px;
    border-radius:3px;
}
.slide-products .owl-nav i:hover{color:#888;}
button:focus{outline:none}
.lgt-bg{background: #f7f9fb}
.btn-list-grid button{padding:0;line-height:1;margin:0 15px 0 0px}
.btn-list-grid .fa{color: #999;font-size:18px;}
.btn-list-grid button.active .fa,.btn-list-grid button:hover .fa{color:#3e72b1}
.tot-pro{position:relative;top:5px;color:#666;left:20px;}
.sort-inner{float:right;margin-left:15px;}
.sort-wrapper label {
    margin: 8px auto auto;
    color: #666;
}
.category-page-wrapper {
    margin: 25px auto auto;
}
.category-page-wrapper.fotnav{float: left;width: 100%;margin: 1em auto 3em;}
#product-list .product-inner{margin:1em auto;float:left;width:100%;}
#product-list .product-list .product-inner{padding-bottom:2em;border-bottom:1px solid #ddd;}
.product-layout.product-list .product-thumb {
    float: left;
    max-width: 25%;
}
.product-layout.product-list .product-info {
    float: left;
    max-width: 65%;
    margin-left: 40px;
}
.product-layout.product-list .product-info .product-desc{display:block}
.product-grid .product-info{
    display: block !important;
    flex-direction: inherit !important;
}
.product-grid .order-3{order:inherit;}
.result-inner {
    float: left;
    margin: 10px;
}
.pagination-inner {
    float: right;
}
.pagination > li a:hover,.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #23282a;
    border-color: #23282a;
    cursor: default;
}
.pagination > li a:hover{cursor:pointer;}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 15px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #23282a;
    background-color: #fff;
    border: 1px solid #ddd;
        border-top-color: rgb(221, 221, 221);
        border-right-color: rgb(221, 221, 221);
        border-bottom-color: rgb(221, 221, 221);
        border-left-color: rgb(221, 221, 221);
    margin-left: -1px;
}
.single-product #big img{border:1px solid #eee}
.single-product #big button {
    position: absolute;
    top: 50%;
    font-size: 25px;
    left: 25px;
    border: 1px solid rgba(0,0,0,0.4);
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ddd;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
}
.single-product #big button.owl-next {
    right: 25px;
    left: inherit;
}
#thumbs .owl-stage {margin:1em auto}
#thumbs .item {
    border: 3px solid #eee;
    padding: 5px;
    opacity: 0.7;
    transition:0.8s
}
#thumbs .current .item,#thumbs .item:hover{opacity:1;border-color:#3e72b1}
.number span {cursor:pointer; }
        .number{
            margin:100px;
        }
        .minus, .plus{
            width:20px;
            height:20px;
            background:#f2f2f2;
            border-radius:4px;
            padding:8px 5px 8px 5px;
            border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
        }
.number input{
            height:34px;
      width: 100px;
      text-align: center;
      font-size: 26px;
            border:1px solid #ddd;
            border-radius:4px;
      display: inline-block;
      vertical-align: middle;
}
            











.footer-top{background:#3e72b1;color:#fff;font-size:2em;line-height:1.4;font-weight:bold;}
.footer-top,.footer-center,.footer-bottom{padding:1.2em 0;float:left;width:100%}
.footer-top input {
    font-size: 15px;
    padding: 12px 25px;
    width: 100%;
    float: left;
}
.footer-top input[type="email"] {
    background: #fff;
    border-radius: 23px 0 0 23px;
    border: 1px solid #fff;
}
.footer-top input[type="submit"] {
    background: #383838;
    border-radius: 0 23px 23px 0;
    border: 1px solid #383838;
    text-align: center;
    color: #fff;
    padding:13px 25px;
}
.footer-top input[type="submit"]:hover{background:#000}
.footer ul{width:100%;float:left;}
.footer-center li {
    border-right: 2px solid #434343;
    line-height: 0.9;
    padding:0 16px 0 0px;
    margin:10px 16px 10px 0px;
}
.footer-center li:first-child,.footer-center li:last-child{border:0;}
.footer-center li:first-child {
    padding-left: 0;
    margin-left: 0;
}
.footer a{color:#434343;}
.footer a:hover{color:#3e72b1}
.footer-bottom {
    border-top: 1px solid #ddd;
}
.footer-bottom ul{float:right;width:auto;}
.footer-bottom li{margin:0 5px}
.footer-bottom li a {
    color: #aaa;
    border: 1px solid;
    width: 30px;
    font-size: 15px;
    border-radius: 50%;
    float: left;
    text-align: center;
    height: 30px;
    line-height: 28px;
}
.nav-link .badge{
    vertical-align: top;
    top: -5px;
    position: relative;
    color: #fff;
    background: #3e72b1;
    font-weight: normal;
    padding: 0.35em .4em;
}
.bottom-nav ul{padding: 6px 0 0;}


.product-thumb {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.product-thumb img{width:100%;height:auto;}
.pro-tag{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    max-width: 50px;
}
.pro-tag .new-label {
    background-color: #d11418;
    text-align: center;
    font-size: 12px;
    color: #fff;
    min-width: 50px;
    line-height: 24px;
    border-radius: 2px;
    z-index: 9;
    margin-bottom: 5px;
    display:inline-block
}
.pro-fav {
    margin: auto;
    list-style: none;
    text-align: center;
    z-index: 9;
    position: absolute;
    top: 8px;
    right: 8px;
}
.pro-fav .wishlist-action {
    border: 1px solid #ebebeb;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    display: inline-block;
    border-radius: 100%;
    color:#6f626c;
}
.pro-fav .wishlist-action::before{
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight:400
}
.pro-fav .wishlist-action.active{background:#3e72b1}
.product-info .btn {
    border: 1px solid #3e72b1;
    width: 50%;
    font-weight: 500;
    border-radius:.25rem 0 0 .25rem;
    max-width:150px
}
.product-info .btn.act{background:#3e72b1;color:#fff;border-radius:0 .25rem .25rem 0}
.product-info h3 {
    font-size: 17px;
    margin: 10px 0;
    line-height: 1.4
}
.product-info h3 a {
    color: #1d1d1d;
}
.product-info h3 a:hover{color:#3e72b1;}
.product-desc{display:none}